<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

 <h1 style="font-size: 40px ;text-align: center"  >Create your HOUSE</h1>

<form action="/houses" method="post" style="display: flex; justify-content:center; padding: 10px" >
    <input type="text" name="city" placeholder="NameOfCity">
    <input type="number" name="area" placeholder="AreaOfHouse">
    <input type="number" name="price" placeholder="PriceOfHouse">
    <input type="text" name="street" placeholder="StreetOfHouse">
    <input type="submit" >

</form>
</body>
</html>