
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1 style="font-size: 40px;text-align: center">You can change your date</h1>

<form action="/houses/editHouse" method="post" style="display: flex; justify-content:center; padding:10px">
    <input type="text" name="house_id" placeholder="your house_id">
    <input type="text" name="city" placeholder="new city">
    <input type="text" name="area" placeholder="new area">
    <input type="text" name="price" placeholder="new price">
    <input type="text" name="street" placeholder="new street">
    <input type="submit" name="submit">
</form>

</body>
</html>