
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

             <h1 style="font-size: 40px;text-align: center">You can change your date</h1>

<form action="/users/editUser" method="post" style="display: flex; justify-content:center; padding:10px">
    <input type="text" name="user_id" placeholder="your user_id">
    <input type="text" name="name" placeholder="new name">
    <input type="text" name="email" placeholder="new email">
    <input type="text" name="password" placeholder="new password">
    <input type="submit" name="submit">
</form>

</body>
</html>