<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

     <h1 style="font-size: 40px;text-align: center">Check in</h1>

<form action="/auth" method="post" style="display: flex; justify-content:center; padding:10px">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" >

</form>
</body>
</html>